---
name: CI

on:
  push:
    branches-ignore:
      - master
      - mainline
      - rb/*

env:
  IMAGE_NAME: nginx-brotli

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3.6.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Build multi-platform images
        uses: docker/build-push-action@v6.16.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ${{ env.IMAGE_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build amd64 image for testing
        uses: docker/build-push-action@v6.16.0
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          platforms: linux/amd64
          push: false
          tags: ${{ env.IMAGE_NAME }}
          load: true
          cache-from: type=gha

      - name: Test
        run: |
          docker run --rm -v $(pwd)/tests.sh:/tests.sh --entrypoint sh nginx-brotli /tests.sh
